*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
/* register */
.reg_form{
  border: 1px solid black;
  height: 600px;
  width: 600px;
  background-color: rgb(154, 97, 207);
  color: white;
  margin-top: 50px;
  margin: auto;
  border-radius: 20px;
  padding-left: 50px;
}
 .name input{
  margin-top: 20px;
  height: 30px;
  width: 400px;
  border-radius: 30px;
  font-size: larger;

}
.email input{
  margin-top: 20px;
  height: 30px;
  width: 400px;
  border-radius: 30px;
  font-size: larger;

}
.class {
  margin-top: 20px;
  font-size: larger;

}
.gender input{
  margin-top: 20px;
  height: 20px;
  width: 20px;
  font-size: larger;
  
} 
.image input{
  margin-top: 20px;
  font-size: larger;
}

.button{
  margin-left: 40%;
  margin-top: 100px;
}

.title{
  text-align: center;
}
.parent_div{
  margin-top: 20px;
  margin-left: 300px;
  border: 1px solid black;
  height: 300px;
  width: 55%;
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  font-style: italic;
}
.img_div img{
  margin-top: 20px;
  margin-left: 30px;
  height: 250px;
  width: 250px;
  border-radius: 20%;
}
.details{
  margin-top: 50px;
  margin-left: 50px;
}
.error{
  width:fit-content;
  color: rgb(255, 5, 5);
  font-weight: bold;
}
.message{
  margin-top: 300px;
  margin-left: 650px;
  color: blueviolet;
}
.time_stamp{
  margin-left: 5px;
}